{% extends 'base.html' %}

{% block content %}

<!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                {% for headline, description, url, author, date in zipped_news %}
                <div class="post-preview">
                    <a href="{{ url }}">
                        <h2 class="post-title">{{ headline }}</h2>
                        <h3 class="post-subtitle">{{ description }}</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">{{ author }}</a>
                        on {{ date }}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}

